.footerGen {
  background-color: #283618;
  background-size: cover;
  width: 100%;
  height: 100px;
}

.footerText {
  color: white;
  margin: 0 !important;
  position: absolute;
  display: block;
  position: relative;
  top: 25px;
  text-align: center;
  font-family: var(--font-style);
}
