.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 500px;
  width: 28vw;
  max-width: 500px;
  height: auto;
  background-image: url(../icon/bg-img.svg);
  background-repeat: no-repeat;
  background-size: 36vmin 90%;
  background-position: 60% 80%;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  z-index: 1;
  margin: 0 !important;
  display: flex;
  overflow: hidden;
  letter-spacing: 2px;
  color: var(--font-color);
}

.title-head {
  display: grid;
  row-gap: 20px;
  /* width: 80vmin; */
}

.description p {
  width: 600px;
  /* width: 70vmin;
  height: 10vmin; */
  font-size: 20px;
  margin: 0;
  font-family: "Robot", sans-serif;
  font-style: italic;
  color: var(--font-color);
}

.btn-despre {
  width: 110px;
  height: 45px;
  /* border-radius: 20px; */
  border: none !important;
  font-size: 20px;
  color: white;
  background-color: var(--color);
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.btn-despre:hover {
  background-color: #606c38;
  border-radius: 50px;
}

.btn-despre:active {
  background-color: #283618;
}

.green-h {
  text-shadow: 6px 6px #9fb45b;
  color: #48522a;
}

.link-header {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 30px;
}

.link-header a {
  margin-top: 20px;
  font-size: 20px;
  color: #283618;
  text-decoration: none;
  cursor: pointer;
}

.link-header a:hover {
  color: #bc6c25;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .content-tree {
    display: none;
  }

  .container {
    margin-top: 30px;
  }
}
