.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.806);
}

.logoImg {
  height: 70px;
  width: auto;
}

.navbar_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  margin: 0 auto !important;
  width: 1800px;
  max-width: 100vw;
  height: 80px;
}

.navLink_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
  font-family: "Inter", sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

.navLink {
  display: flex;
}

.btn_inactiv {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--font-color);
  transition: all 0.2s ease-out;
}

.active {
  background-color: var(--color);
  text-decoration: none;
  color: white;
  /* border: solid 1px var(--color); */
}

.btn_inactiv:hover {
  background-color: #606c38;
  color: white;
}

.active:hover {
  background-color: var(--color);
}

.socialIcon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialIcon svg {
  fill: var(--font-color);
  padding: 11px;
  background-color: none;
}

.socialIcon svg:hover {
  background-color: #606c38;
  fill: white;
  border-radius: 41%;
  padding: 11px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .navLink_2 {
    flex-direction: column;
  }

  .navLink {
    flex-direction: column;
  }

  .navbar-btn {
    display: block;
  }
}
