@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nanum+Myeongjo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

:root {
  --font-style: "Inter", sans-serif;
  --color: #532e11;
  --font-color: #3f3f3f;
  --navbar-bg-color: #ea3118b6;
}

* {
  margin: 0;
}

.content {
  margin: 0 auto !important;
  width: 100%;
  max-width: 1800px;
}
